
<div *ngIf="article">
    <h2><span jhiTranslate="csiteApp.article.detail.title">Article</span> {{article.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="csiteApp.article.name">Name</span></dt>
        <dd>
            <span>{{article.name}}</span>
        </dd>
        <dt><span jhiTranslate="csiteApp.article.quantity">Quantity</span></dt>
        <dd>
            <span>{{article.quantity}}</span>
        </dd>
        <dt><span jhiTranslate="csiteApp.article.delivery">Delivery</span></dt>
        <dd>
            <div *ngIf="article.deliveryId">
                <a [routerLink]="['/delivery', article.deliveryId]">{{article.deliveryId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button *jhiHasAnyAuthority="'ROLE_SALES'" type="button"
            [routerLink]="['/', { outlets: { popup: 'article/'+ article.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
