<hr>
<div>
    <h2>
        <span jhiTranslate="csiteApp.workPackage.home.title">Work Packages</span>
        <div *jhiHasAnyAuthority="'ROLE_SALES'" >
        <button *ngIf="csiteId" class="btn btn-primary float-right jh-create-entity create-work-package" [routerLink]="['/', { outlets: { popup: ['work-package-new', csiteId] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="csiteApp.workPackage.home.createLabel">
            Create new Work Package
            </span>
        </button>
        <button *ngIf="csiteId==null" class="btn btn-primary float-right jh-create-entity create-work-package" [routerLink]="['/', { outlets: { popup: ['work-package-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="csiteApp.workPackage.home.createLabel">
            Create new Work Package
            </span>
        </button>
        </div>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="workPackages">
        <table class="table table-striped">
            <thead>
            <tr>
            <!--<th><span jhiTranslate="global.field.id">ID</span></th>-->
            <th><span jhiTranslate="csiteApp.workPackage.name">Name</span></th>
            <th><span jhiTranslate="csiteApp.workPackage.startDate">Start Date</span></th>
            <th><span jhiTranslate="csiteApp.workPackage.endDate">End Date</span></th>
            <th><span jhiTranslate="csiteApp.workPackage.status">Status</span></th>
            <!--<th><span jhiTranslate="csiteApp.workPackage.duration">Duration</span></th>-->
            <!--<th><span jhiTranslate="csiteApp.workPackage.progress">Progress</span></th>-->
            <!--<th><span jhiTranslate="csiteApp.workPackage.constructionsite">Constructionsite</span></th>-->
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let workPackage of workPackages ;trackBy: trackId">
                <!--<td><a [routerLink]="['../work-package', workPackage.id ]">{{workPackage.id}}</a></td>-->
                <td><a [routerLink]="['../work-package', workPackage.id ]">{{workPackage.name}}</a></td>
                <td>{{workPackage.startDate | date:'yyyy-MM-dd'}}</td>
                <td>{{workPackage.endDate | date:'yyyy-MM-dd'}}</td>
                <td jhiTranslate="{{'csiteApp.WorkPackageStatus.' + workPackage.status}}">{{workPackage.status}}</td>
                <!-- <td>{{workPackage.duration}}</td> -->
                <!-- <td>{{workPackage.progress}}</td> -->
                <!-- <td>
                    <div *ngIf="workPackage.constructionsiteId">
                        <a [routerLink]="['../construction-site', workPackage.constructionsiteId  ]" >{{workPackage.constructionsitePrjName}}</a>
                    </div>
                </td> -->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/work-package', workPackage.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_SALES'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'work-package/'+ workPackage.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_SALES'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'work-package/'+ workPackage.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <jhi-gantt-diagram [csiteid]="csiteId"></jhi-gantt-diagram>
</div>
<!--<p-dataTable [value]="workPackages">
    <p-column field="name" header="Name"></p-column>
    <p-column field="startDate" header="Start"></p-column>
    <p-column field="endDate" header="Ende"></p-column>
    <p-column field="status" header="Status" [filter]="true"></p-column>
    <p-column field="constructionsitePrjName" header="Baustelle"></p-column>
</p-dataTable>-->
