<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" id="myWorkPackageLabel" jhiTranslate="csiteApp.workPackage.home.createOrEditLabel">Create or edit a Work Package</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!workPackage.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="workPackage.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csiteApp.workPackage.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="workPackage.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csiteApp.workPackage.startDate" for="field_startDate">Start Date</label>
            <div class="d-flex">
                <input id="field_startDate" type="datetime-local" class="form-control" name="startDate" [(ngModel)]="workPackage.startDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csiteApp.workPackage.endDate" for="field_endDate">End Date</label>
            <div class="d-flex">
                <input id="field_endDate" type="datetime-local" class="form-control" name="endDate" [(ngModel)]="workPackage.endDate"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csiteApp.workPackage.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="workPackage.status" id="field_status" >
                <option value="PLANNED">{{'csiteApp.WorkPackageStatus.PLANNED' | translate}}</option>
                <option value="OPEN">{{'csiteApp.WorkPackageStatus.OPEN' | translate}}</option>
                <option value="FINISHED">{{'csiteApp.WorkPackageStatus.FINISHED' | translate}}</option>
            </select>
        </div>
        <div *ngIf="(workPackage.id == null && workPackage.constructionsiteId == null) || workPackage.id" class="form-group">
            <label class="form-control-label" jhiTranslate="csiteApp.workPackage.constructionsite" for="field_constructionsite">Constructionsite</label>
            <select class="form-control" id="field_constructionsite" name="constructionsite" [(ngModel)]="workPackage.constructionsiteId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="constructionSiteOption.id" *ngFor="let constructionSiteOption of constructionsites; trackBy: trackConstructionSiteById">{{constructionSiteOption.prjName}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
