<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myChecklistLabel" jhiTranslate="csiteApp.checklist.home.createOrEditLabel">Create or edit a Checklist</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!checklist.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="checklist.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csiteApp.checklist.inTime" for="field_inTime">In Time</label>
            <input type="checkbox" class="form-control" name="inTime" id="field_inTime"
                [(ngModel)]="checklist.inTime"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csiteApp.checklist.complete" for="field_complete">Complete</label>
            <input type="checkbox" class="form-control" name="complete" id="field_complete"
                [(ngModel)]="checklist.complete"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csiteApp.checklist.unloadingOk" for="field_unloadingOk">Unloading Ok</label>
            <input type="checkbox" class="form-control" name="unloadingOk" id="field_unloadingOk"
                [(ngModel)]="checklist.unloadingOk"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csiteApp.checklist.notDamaged" for="field_notDamaged">Not Damaged</label>
            <input type="checkbox" class="form-control" name="notDamaged" id="field_notDamaged"
                [(ngModel)]="checklist.notDamaged"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csiteApp.checklist.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="checklist.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csiteApp.checklist.claim" for="field_claim">Claim</label>
            <input type="checkbox" class="form-control" name="claim" id="field_claim"
                [(ngModel)]="checklist.claim"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="csiteApp.checklist.delivery" for="field_delivery">Delivery</label>
            <select class="form-control" id="field_delivery" name="delivery" [(ngModel)]="checklist.deliveryId">
                <option [ngValue]="null"></option>
                <option [ngValue]="deliveryOption.id" *ngFor="let deliveryOption of deliveries; trackBy: trackDeliveryById">{{deliveryOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
