<div class="row">

    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title"></h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>

        </div>

        <p jhiTranslate="home.usergroups">
           User
        </p>
        <style>
            table, th, td {
                border: 1px solid black;
            }
            #table {
                border-collapse: collapse;
                width: 100%;
            }

            #table td, #table th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #table tr:nth-child(even){background-color: #f2f2f2;}

            #table tr:hover {background-color: #ddd;}

            #table th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #3E8ACC;
                color: white;
            }
        </style>
        <table id="table">
            <tr>
                <th jhiTranslate="home.usertype">Type</th>
                <th jhiTranslate="home.user">Username</th>
                <th jhiTranslate="home.password">Password</th>
            </tr>
            <tr>
                <td jhiTranslate="home.sales">Sales</td>
                <td>sales</td>
                <td>user</td>
            </tr>
            <tr>
                <td jhiTranslate="home.container">Container</td>
                <td>container</td>
                <td>user</td>
            </tr>
            <tr>
                <td jhiTranslate="home.driver">Driver</td>
                <td>driver</td>
                <td>user</td>
            </tr>
        </table>

    </div>
</div>
