<div>
    <h2>
        <span jhiTranslate="csiteApp.delivery.home.title">Deliveries</span>
        <div *jhiHasAnyAuthority="'ROLE_SALES'">
            <button *ngIf="csiteId" class="btn btn-primary float-right jh-create-entity create-delivery" [routerLink]="['/', { outlets: { popup: ['delivery-new', csiteId] } }]">
                <span class="fa fa-plus"></span>
                <span  jhiTranslate="csiteApp.delivery.home.createLabel">
                Create new Delivery
                </span>
            </button>
            <button *ngIf="csiteId==null" class="btn btn-primary float-right jh-create-entity create-delivery" [routerLink]="['/', { outlets: { popup: ['delivery-new'] } }]">
                <span class="fa fa-plus"></span>
                <span  jhiTranslate="csiteApp.delivery.home.createLabel">
                Create new Delivery
                </span>
            </button>
        </div>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="deliveries">
        <table class="table table-striped">
            <thead>
            <tr>
            <!--<th><span jhiTranslate="global.field.id">ID</span></th>-->
            <th><span jhiTranslate="csiteApp.delivery.orderNumber">Order Number</span></th>
            <th><span jhiTranslate="csiteApp.delivery.kalenderwoche">Kalenderwoche</span></th>
            <th><span jhiTranslate="csiteApp.delivery.date">Date</span></th>
            <!--<th><span jhiTranslate="csiteApp.delivery.unloading">Unloading</span></th>
            <th><span jhiTranslate="csiteApp.delivery.avisoType">Aviso Type</span></th>-->
            <th><span jhiTranslate="csiteApp.delivery.status">Status</span></th>
            <!--<th><span jhiTranslate="csiteApp.delivery.image">Image</span></th>
            <th><span jhiTranslate="csiteApp.delivery.lkwType">Lkw Type</span></th>-->
            <th><span jhiTranslate="csiteApp.delivery.workpackage">Workpackage</span></th>
            <th><span jhiTranslate="csiteApp.delivery.person">Person</span></th>
            <th><span jhiTranslate="csiteApp.delivery.location">Location</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let delivery of deliveries ;trackBy: trackId">
                <!--<td>{{delivery.id}}</a></td>-->
                <td><a [routerLink]="['../delivery', delivery.id ]">{{delivery.orderNumber}}</a></td>
                <td>{{delivery.kalenderwoche}}</td>
                <td>{{delivery.date | date:'yyyy-MM-dd'}}</td>
                <!--<td jhiTranslate="{{'csiteApp.UnloadingType.' + delivery.unloading}}">{{delivery.unloading}}</td>
                <td jhiTranslate="{{'csiteApp.AvisoType.' + delivery.avisoType}}">{{delivery.avisoType}}</td>-->
                <td jhiTranslate="{{'csiteApp.DeliveryStatus.' + delivery.status}}">{{delivery.status}}</td>
                <!-- <td>
                    <a *ngIf="delivery.image" (click)="openFile(delivery.imageContentType, delivery.image)">
                        <img [src]="'data:' + delivery.imageContentType + ';base64,' + delivery.image" style="max-height: 30px;" alt="delivery image"/>
                    </a>
                    <span *ngIf="delivery.image">{{delivery.imageContentType}}, {{byteSize(delivery.image)}}</span>
                </td> -->
                <!--<td jhiTranslate="{{'csiteApp.LKWType.' + delivery.lkwType}}">{{delivery.lkwType}}</td>-->
                <td>
                    <div *ngIf="delivery.workpackageId">
                        <a [routerLink]="['../work-package', delivery.workpackageId  ]" >{{delivery.workpackageName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="delivery.personId">
                        <a [routerLink]="['../person', delivery.personId  ]" >{{delivery.personLastName}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="delivery.locationId">
                        <a [routerLink]="['../location', delivery.locationId  ]" >{{delivery.locationName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/delivery', delivery.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_DRIVER'" type="submit"
                                [routerLink]="['/', { outlets: { popup: ['delivery', delivery.id, 'edit', csiteId]} }]"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_SALES'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'delivery/'+ delivery.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
